pymc
arviz
numpy
shapely
geopandas
pandas
requests
loguru
mkdocs
pytest
python-dotenv
ruff
tqdm
typer
duckdb
pyarrow
sqlalchemy
pyogrio
pyproj
joblib
scikit-learn
matplotlib
seaborn
scipy
-e .


gerrychain